@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* font  */
.playfair-display-cursive {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spin {
  animation: spin 40s linear infinite;
}

/* smooth scroll  */

html {
  scroll-behavior: smooth;
}

@layer components {
  .isActiveStyle {
    @apply text-red-500;
  }
  .hover-btn {
    @apply border border-primary text-primary bg-white duration-500 ease-in-out transition-all;
  }
}

.slick-dots li button:before {
  color: #cd9660; /* Customize color */
}
.slick-dots li.slick-active button:before {
  color: #e4a361; /* Customize color */
}
